* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Montserrat", sans-serif;
    /* background-color: #2a2830;   */
}

.head {
    font-size: 3em;
}

#navbar, #login {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn1{
    background-color: #2a2830;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    margin-top: 3.45em;
    font-weight: 800;
    cursor: pointer;
    color: #fafafa;
    transition: 0.6s;
}

.btn1:hover {
    background-color: grey;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
    color: #fafafa;
}

.btn2 {
    margin-top: 2em;
    background-color: grey;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    color: #fafafa;
    transition: 0.6s;
}

.btn2:hover {
    background-color: #2a2830;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
    color: #fafafa;
}

#border {
    border-radius: 1em;
    border-width: 3px;
    border-style: solid;
    border-color: #121010;
    margin-top: 8em;
    margin-left: 33em;
    width: 20em;
    height: 260px;
}