* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Montserrat", sans-serif;
}

body {
    background-image: url(/newJava/images/587d493befc8cc029305f251f08dfd87.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.head {
    font-size: 3em;
    color: #fafafa;
}

#navbar, #login, #Signup {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn1{
    background-color: #2a2830;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    margin-top: 3.45em;
    font-weight: 800;
    cursor: pointer;
    color: #fafafa;
    transition: 0.6s;
}

.btn1:hover {
    background-color: grey;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
    color: #fafafa;
}

.btn2 {
    margin-top: 2em;
    background-color: grey;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    color: #fafafa;
    transition: 0.6s;
}

.btn2:hover {
    background-color: #2a2830;
    padding: 1em;
    width: 15em;
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
    color: #fafafa;
}

#border {
    border-radius: 1em;
    border-width: 2px;
    border-style: solid;
    border-color: #121010;
    margin-top: 8em;
    margin-left: 33em;
    width: 20em;
    height: 270px;
    box-shadow: 6px 6px 24px 1px #121010;
}

#para-graph {
    margin-top: 1em;
    margin-left: 3.7em;
    font-size: 0.9em;
    color: #fafafa;

}

p {
    font-weight: 800;
    text-transform: capitalize;
    width: 16em;
}

em, a {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
}